
body{
   background-color: wheat;
   padding: 0;
   margin: 0;font-weight: 300;
   right: 45%;
}
#container{
    z-index: 1000;
    width: 350px;
    height: 30%;
    position: absolute;
    right: 100px;
    top: 100px;
    background-color: aqua;
    border-radius: 25%;
    text-align: center;
    font-size: 100%;
    border-radius: 20%;
    border: 5px double;
}
#map{
    height: 100vh;
}
